@import "bulma";


.title {
  color: white;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
}

.navbar-brand {
  background-color: #00d2b2;
}

.navbar-menu {
  background-color: #00d2b2;
}
